<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Izin menggunakan kamera -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Izin membaca foto dari galeri (Android <= 12) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>

    <!-- Izin membaca foto dari galeri (Android 13+) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- Izin menampilkan notifikasi (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Izin menjaga layar tetap aktif (untuk notifikasi) -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Menyatakan perangkat memiliki kamera (bukan wajib) -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>

    <application
        android:label="praktikum8"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Receiver untuk flutter_local_notifications -->
        <receiver android:exported="false"
            android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver"/>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Required to query activities that can process text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
